<!DOCTYPE HTML>
<!--
Hyperspace by HTML5 UP
html5up.net | 
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
<style>
#menu ul {
list-style: none;
margin: 0;
padding: 0;
display: inline-flex
}
</style>
<title>Hyperspace by HTML5 UP</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/html5up-hyperspace/assets/css/main.css" />
<noscript><link rel="stylesheet" href="/html5up-hyperspace/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<div class="container">
<main role="main" class="pb-3">
@RenderBody()
</main>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)



<!-- Scripts -->
<script src="/html5up-hyperspace/assets/js/jquery.min.js"></script>
<script src="/html5up-hyperspace/assets/js/jquery.scrollex.min.js"></script>
<script src="/html5up-hyperspace/assets/js/jquery.scrolly.min.js"></script>
<script src="/html5up-hyperspace/assets/js/browser.min.js"></script>
<script src="/html5up-hyperspace/assets/js/breakpoints.min.js"></script>
<script src="/html5up-hyperspace/assets/js/util.js"></script>
<script src="/html5up-hyperspace/assets/js/main.js"></script>

</body>
</html>