@{
ViewData["Title"] = "Home Page";
}



<section id="sidebar">
<div class="inner">
<nav>
<ul>
<li><a href="#intro">Benvenuto</a></li>
<li><a href="#one">Eventi</a></li>
<li><a href="#two">Funzionalità</a></li>
</ul>
</nav>
</div>
</section>


<div id="wrapper">


<section id="intro" class="wrapper style1 fullscreen fade-up">
<div class="inner">
<!-- -->
<div id="menu" class="container">
<a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>

<span>
<ul >

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">   Login</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">   LogOut</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registra">   Registrati</a>
</li>

<!--
<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">   Privacy</a>
</li>
-->

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Prenota">   Prenota</a>
</li>
<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Elenco">   Elenco</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Upload">   Upload</a>
</li>
</ul>
</span> 
</button>
</div>
<!-- -->
<h1>Prenota petardi</h1>
<p>Sito di prenotazioni di eventi pirotecnici, sviluppato da Lombardi Giacomo della 5H, tramite il template di html5up.net</p>




</div>
</section>


<section id="one" class="wrapper style2 spotlights">
<section>
<a href="#" class="image"><img src="https://www.fuochiefesta.com/wp-content/uploads/2014/02/CO_UB0106A_00-e1554819895706.jpg" alt="" data-position="center center" /></a>
<div class="content">
<div class="inner">
<h2>Miniciccioli</h2>
<p>Il Minicicciolo  è un petardo di piccole dimensioni contenente poca materia attiva. Il prodotto è venduto esclusivamente ai maggiori di anni 18 in confezioni da 50 o 60 pezzi.</p>
</div>
</div>
</section>
<section>
<a href="#" class="image"><img src="https://www.fuochiartificiali.it/wp-content/uploads/2016/06/111x.jpg" alt="" data-position="top center" /></a>
<div class="content">
<div class="inner">
<h2>Raudo Alessi</h2>
<p>Il Raudo Alessi è un piccolo artifizio esplosivo, il suo significato si è esteso a indicare petardi piccoli ma piuttosto rumorosi, accendibili per sfregamento.</p>
</div>
</div>
</section>
<section>
<a href="#" class="image"><img src="https://www.bobcaselli.it/images/prodotti/puma.jpg" alt="" data-position="25% 25%" /></a>
<div class="content">
<div class="inner">
<h2>Puma</h2>
<p>Il Puma è  un petardo di media potenza, tipico dei festeggiamenti di capodanno di molti paesi del sud italia.</p>
</div>
</div>
</section>
</section>


<section id="two" class="wrapper style3 fade-up">
<div class="inner">
<h2>Cosa fa questo sito</h2>
<p>Ecco qui le funzionalità.</p>
<div class="features">

<section>
<span class="icon solid major fa-lock"></span>
<h3>Login-Registrazione</h3>
<p></p>
</section>
<section>
<span class="icon solid major fa-code"></span>
<h3>Crea prenotazioni</h3>
</section>
<section>
<span class="icon solid major fa-cog"></span>
<h3>Modifica-elimina Prenotazioni</h3>
</section>
<section>
<span class="icon solid major fa-desktop"></span>
<h3>Visualizza eventi</h3>
</section>
<section>
<span class="icon solid major fa-link"></span>
<h3>Upload</h3>
</section>
<section>
<span class="icon major fa-gem"></span>
<h3>Logout</h3>
</section>
</div>

</div>
</section>