@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>

<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Benvenuto</a></li>
							<li><a href="#one">Chi siamo </a></li>
							<li><a href="#two">Cosa facciamo</a></li>
							<li><a href="#three">Teniamoci in contatto</a></li>
						</ul>
					</nav>
				</div>
			</section>

		  
			<div id="wrapper">

			  
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Lombardi Giacomo 5h Hyperspace</h1>
							<p>Sito di prenotazioni sviluppato con il template di html5up.net</p>

						</div>
					</section>

				  
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="html5up-hyperspace/images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Oro</h2>
									<p>Bel colore tendente all'oro.</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="html5up-hyperspace/images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Grigio scuro</h2>
									<p>Bel colore tendente al grigio scuro.</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="html5up-hyperspace/images/pic03.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Grigio chiaro</h2>
									<p>Bel colore tendente al grigio chiaro.</p>
								</div>
							</div>
						</section>
					</section>

				  
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Cosa fa questo sito</h2>
							<p>Ecco qui le funzionalità.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Codice</h3>
									<p>Code.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Sicurezza</h3>
									<p>Safety.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Modifica</h3>
									<p>Modify.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Visualizza</h3>
									<p>View.</p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Allega</h3>
									<p>Attach.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
								</section>
							</div>
							
						</div>
					</section>

				  
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Teniamoci in contatto</h2>
							<p>Inserisci le tue credenziali.</p>
							<div>
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Nome</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Messaggio</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Invia il messaggio</a></li>
										</ul>
									</form>
					</section>

				