@model Lombardi.Giacomo._5h.SecondaWeb.Models.Prenotazione;
@{
    ViewData["Title"] = "Prenota";
}

<html>

	<head>
		<title>Prenota</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>

<body class="is-preload">

  <header>
<!-- -->
<div id="menu" class="container">
<a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>

<span>
<ul >

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">   Login</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">   LogOut</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registra">   Registrati</a>
</li>

<!--
<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">   Privacy</a>
</li>
-->

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Prenota">   Prenota</a>
</li>
<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Elenco">   Elenco</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Upload">   Upload</a>
</li>
</ul>
</span> 
</button>
</div>
<!-- -->
      <h1 class="display-4">Prenota</h1>
        <form class="m-2" method="POST" asp-action="Prenota">

          <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
              <input asp-for="Nome" type="text" name="Nome" id="Nome" placeholder="Name"/>
            </div>
            <div class="col-6 col-12-xsmall">
              <input asp-for="Email" type="email" name="Email" id="Email" placeholder="Email"/>
            </div>
            <div class="col-12">
              <ul class="actions special">
                <li><input type="submit" value="Reserve" class="primary"/></li>
              </ul>
            </div>
					</div>
        </form>

    </div>
    
  </header>
  
</body>
</html>