@model CreatePost
<form asp-action="Upload" enctype="multipart/form-data">   

    <input asp-for="Descrizione"/>
    <input asp-for="MyCSV"/>

    <input style="margin: 1rem;" type="submit"/>
</form>