@model CreatePost

    
<!-- -->
<div id="menu" class="container">
<a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>

<span>
<ul >

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">   Login</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">   LogOut</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registra">   Registrati</a>
</li>

<!--
<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">   Privacy</a>
</li>
-->

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Prenota">   Prenota</a>
</li>
<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Elenco">   Elenco</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Upload">   Upload</a>
</li>
</ul>
</span> 
</button>
</div>
<!-- -->


<form asp-action="Upload" enctype="multipart/form-data">   
    
    <input asp-for="Descrizione"/>
    <input asp-for="MyCSV"/>

    <input style="margin: 1rem;" type="submit"/>
</form>